<h3>Staff Members</h3>
<form action="">
	<input *ngIf="isName()" [(ngModel)]="searchTerm" name="searchTerm" id="search" autofocus autocomplete="off" type="text" class="form-control" placeholder="Search Name ...">
	<!-- <input  *ngIf= "isYear()"[(ngModel)]="searchTerm" name="searchTerm" id="search" autofocus autocomplete="off" type="number" class="form-control" placeholder="Search Year ..."> -->
	<input *ngIf="isYear()" [(ngModel)]="dateSearch" name="dateSearch" class="form-control" type="date"/>

	<div class="form-group">
		<div class="custom-control custom-radio custom-control-inline">
			<input (click)=setName() type="radio" id="customRadioInline1" name="customRadioInline1" checked class="custom-control-input">
			<label class="custom-control-label" for="customRadioInline1">Name</label>
		</div>
		<div class="custom-control custom-radio custom-control-inline">
			<input (click)="setYear()" type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
			<label class="custom-control-label" for="customRadioInline2">Year</label>
		</div>
	</div>


	<ul *ngIf="isName()" class="list-group">
		<li *ngFor="let staff of staffList | staffFilter:searchTerm" 
		(click)="sendMessage(staff)" class="list-group-item">
			{{ staff.name}} {{ staff.surname }}
		</li>
	</ul>

	<ul *ngIf="isYear()" class="list-group">
		<li *ngFor="let staff of staffList | dateFilter:dateSearch" 
		(click)="sendMessage(staff)" class="list-group-item">
			{{ staff.name}} {{ staff.surname }}
		</li>
	</ul>
</form>
