<!-- <app-view-staff></app-view-staff> -->
<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-primary">
		<a class="navbar-brand" href="#">Staff</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">

			<div class="navbar-nav">
				<a class="nav-item nav-link active" routerLink="/viewStaff" routerLinkActive="active">View Staff<span class="sr-only">(current)</span></a>
				<!-- <a class="nav-item nav-link active" routerLink="/login" routerLinkActive="active">Login<span class="sr-only"></span></a> -->
			</div>
		</div>
	</nav>
		<router-outlet></router-outlet>
</div>


