.staff-list-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	padding: 30px 15px;
}
app-staff-list {
	flex-basis: 30%;
}
app-staff-details { 
	padding:  15px 30px;
	flex-basis: 70%;
}
