<div class="staff-list-wrapper">
	<app-staff-list (messageEvent)="receiveMessage($event)" ></app-staff-list>
	<app-staff-details *ngIf="isActive" 
		[currentMember]='activeStaffMember'
	 	[possibleSupervisors]='possibleSupervisors'
	 	[currentSupervisor]='currentSupervisor'
		></app-staff-details>
</div>

