<h3> Organisation Hierarchy</h3>



<mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl" class="example-tree">
	<mat-tree-node *matTreeNodeDef="let node">
		<li class="mat-tree-node">
			<button mat-icon-button disabled></button>
			{{node.name}} {{node.surname}}
		</li>
	</mat-tree-node>

	<mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
		<li>
			<div class="mat-tree-node">
				<button mat-icon-button matTreeNodeToggle>
					<mat-icon class="mat-icon-rtl-mirror">
						{{nestedTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
					</mat-icon>
				</button>
				{{node.name}} {{node.surname}}
			</div>
			<ul [class.example-tree-invisible]="!nestedTreeControl.isExpanded(node)">
				<ng-container matTreeNodeOutlet></ng-container>
			</ul>
		</li>
	</mat-nested-tree-node>
</mat-tree>
