<form [formGroup]="form" (ngSubmit)="submit(form.value)">
	<h1>Login</h1>
	<label for="">Username
		<!-- <input type="text" #usernameobj appAutofocus formContorlName='username'> -->
		<input type="text" formControlName='username'>
	</label>
	<label for=""> Password
		<input type="password" formControlName='password'>
	</label>
	<input type="submit" value="Login">
</form>
