button {
	margin: 4px;
}


.hierarchy-wrapper {
	height: 100%;
}
.child {
	display: flex;
	justify-content: space-between;
}

.level-row {
	display: flex;
	justify-content: space-around;
	margin:  50px 0;
}
