<form>
	<h3> Staff Information </h3>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputEmail4">Name</label>
	  <input type="text" class="form-control" id="name" value="{{ currentMember.name }}" placeholder="Name">
    </div>
    <div class="form-group col-md-4">
      <label>Surname</label>
	  <input type="text" class="form-control" id='surname' value="{{ currentMember.surname }}" placeholder="Surname">
    </div>
    <div *ngIf="!hasSupervisor()" class="form-group col-md-4">
		<label for="">Reports To</label>
		<select disabled class="custom-select">
		</select>
	</div>
    <div *ngIf="hasSupervisor()" class="form-group col-md-4">
		<label for="">Reports To</label>
		<select id="supervisor" class="custom-select">
			<option [value]="currentSupervisor._id"> {{ currentSupervisor.name }} {{ currentSupervisor.surname}}</option> 
			<option *ngFor="let supervisor of possibleSupervisors"
				[value]='supervisor._id' > {{ supervisor.name }} {{ supervisor.surname}}
			</option>
		</select>
	</div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Role</label>
	  <input type="text"id='role' class="form-control" [value]="currentMember.roleDesignation">
    </div>
    <div class="form-group col-md-4">
      <label>Salary</label>
		  <input type="text" id='salary' class="form-control" [value]="currentMember.salary">
    </div>
	<div class="form-group col-md-4">
		<label for="inputAddress">Date Of Birth</label>
		<input class="form-control" id='dob' type="date" [value]="getDOB()"/>
	</div>
  </div>
  <button (click)="update()" type="submit" class="btn btn-primary">Update</button>
  <!-- <button type="submit" disabled class="btn btn-danger">Delete</button> -->
</form>


<div class="highest-earners-wrapper">
	<app-higest-earners (updateHighestEarners)='updateHighestEarners($event)'></app-higest-earners>
</div>


<div class="hierarchy-wrapper">
	<app-hierarchy></app-hierarchy>
</div>

